footer {
  position: relative;
  padding-top: 200px;
  &::before {
    content: ' ';
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image: url('../../assets/imgs/landscape-with-milky-way-galaxy-elements-this-image-furnished-by-nasa 1.png');
    background-size: cover;
    opacity: 0.15;
    background-position-y: bottom;
  }

  .card {
    background-color: transparent;
  }

  .btn-primary {
    padding: 4px 16px;
  }

  .list-icon-social {
    margin-bottom: 113px;
    div {
      margin-right: 16px;
    }
  }
}

form.hs-form {
  position: relative;
  width: 500px;
  input {
    border-radius: 10px;
    width: 290px;
    padding: 5px 0.75rem;
    margin-top: 1rem;
  }
  > div > label > span {
    color: #2ce7ff;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
  }
  .actions [type='submit'] {
    box-shadow: 0px 0px 20px rgb(44 231 255 / 50%);
    background: #2ce7ff;
    color: #212121;
    border-radius: 10px;
    font-weight: 600;
    padding: 7pxm 16px;
    border: none;
    position: absolute;
    bottom: 0px;
    left: 300px;
    width: 150px;
    padding: 7px 0;
  }
}

@media (max-width: 768.98px) {
  footer {
    .card-right {
      position: absolute;
      bottom: 0;
      right: -125px;
      img {
        width: 50%;
      }
    }
    &::before {
      background-size: contain;
      background-position-y: 154px;
      background-repeat: no-repeat;
      opacity: 1;
    }
  }
}

@media (max-width: 360px) {
  footer {
    height: 450px;
    &::before {
      background-size: cover;
      background-position-y: -50px;
      background-position-x: center;
    }
    .card-right {
      right: -200px;
    }
    .list-icon-social {
      margin-bottom: 0;
    }
  }
  form.hs-form {
    > div > label {
      width: 400px;
      > span {
        font-size: 20px;
        line-height: 24px;
      }
    }
    input {
      width: 220px;
    }
    .actions [type='submit'] {
      left: 235px;
      width: 100px;
    }
  }
}
