.bd-example {
  padding: 1.5rem;
  position: relative;
  margin-top: 1rem;
  border: solid #dee2e6;
  border-width: 1px 0 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #fff;

  > .btn,
  > .btn-group {
    margin: 0.25rem 0.125rem;
  }
}
