$defaultColor: #2ce7ff;

.launch-pool {
  .banner {
    text-align: center;
    position: relative;
    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('/assets/imgs/space-nebula-3d-illustration-use-with-projects-science-research-education 1.png');
      background-size: cover;
      background-position: bottom right;
      background-repeat: no-repeat;
      opacity: 0.5;
      z-index: -1;
    }

    .container {
      height: 300px;
    }

    .page-title {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 24px;
    }
  }

  .card-project {
    position: relative;
    padding: 24px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 39px;
    min-width: 212px;
    height: 298px;
    &::before {
      content: ' ';
      border-radius: 16px;
      border: 1px solid $defaultColor;
      background: linear-gradient(114.49deg, rgba(255, 255, 255, 0.33) -21.49%, rgba(255, 255, 255, 0) 111.75%);
      opacity: 0.3;
      backdrop-filter: blur(140px);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  .big-logo {
    height: 173px;
    filter: drop-shadow(0px 0px 20px rgba(44, 231, 255, 0.5));
  }

  .ticket-number {
    background: url(/assets/imgs/pool-title-bg.png) center center no-repeat;
    height: 57px;
    width: 230px;
    text-align: center;
    line-height: 57px;
    color: $defaultColor;
    font-weight: 600;
    background-size: contain;
    margin-top: 24px;
  }

  .project-desc {
    margin-left: 24px;
    flex-grow: 1;
  }

  .project-name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .field-value {
    color: #2ce7ff;
  }

  a.link-view-details {
    text-decoration-line: underline;
    color: #2ce7ff;
    text-shadow: 0px 0px 20px rgba(44, 231, 255, 0.5);
  }

  button{
    width: 100%;
    margin-top: 50px;
  }

  .sections-launch {
    height: 600px;
    position: relative;
    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(/assets/imgs/bg-3.png);
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: cover;
      opacity: 0.3;
      z-index: -1;
    }
  }
}

@media (max-width: 767.98px) { 
  .launch-pool {
    .card-project{
      height: 380px;
    }
    .actions{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 24px;
    }
  }
}

@media (max-width: 575.98px) { 
  .launch-pool {
    .project-content{
      margin-top: 32px;
    }
    .project-desc{
      margin-left: unset;
      margin-top: 24px;
    }
    .project-name{
      position: absolute;
      top: 16px;
      text-align: center;
      left: 0;
      right: 0;
    }
    .card-project{
      height: 715px;
    }
    button{
      margin-top: 16px;
    }
  }
}

